{:mode :prod
 :db {:subname "//localhost:3306/ca?useUnicode=yes&characterEncoding=UTF-8&serverTimezone=UTC"
      :user "root"
      :db "ca?useUnicode=yes&characterEncoding=UTF-8&serverTimezone=UTC"
      :password ""
      :useUnicode "yes"
      :characterEncoding "UTF-8"}
 :webapp {:port 9002
          :mode :prod
          :base-url "http://localhost:9002/"
          }
 }
